@import "tailwindcss";
#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background: linear-gradient(rgb(246, 245, 255), rgb(241, 255, 252));
  /* background: red; */
}

.main{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
input{
  outline: none;
}

*{
  /* border:  1px solid red; */
}